/* ===== RESUME SECTION ===== */

/* -- Language icons -- */
.languageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* -- Skill Bars -- */
.uCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.skills p {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0;
}

.skill {
  margin: 1em 0 0.5em;
  position: relative;
  width: 100%;
}

.skillType {
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  width: 5em;
}

.skillOuterBar,
.skillInnerBar {
  height: 0.5em;
}

.skillOuterBar {
  margin-top: 1em;
  background: #333;
}

.skillInnerBar {
  background: var(--text-color-2);
  animation: fillBar 1s forwards;
  transform: scaleX(0);
  transform-origin: 0 0;
}

@keyframes fillBar {
  to { transform: scaleX(1); }
}

.resumeButtons {
  display: flex;
  gap: 20px;
}

.resumeButton {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* -- Timeline -- */
.historyTlContainer {
  width: 96%;
  margin: 35px auto 0;
  display: block;
  position: relative;
}

.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.tlItem {
  list-style: none;
  margin: auto;
  margin-left: 76px;
  min-height: 50px;
  border-left: 1px dashed #ac4c4c;
  padding: 0 0 50px 35px;
  position: relative;
}

.tlItem:last-child { border-left: 0; }

.tlItem::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: ' ';
  border: 8px solid #fff;
  border-radius: 50%;
  background: red;
  height: 35px;
  width: 35px;
  transition: all 500ms ease-in-out;
}

.tlItem:hover::before {
  background-color: #fff;
  border-color: red;
  transition: all 1000ms ease-in-out;
}

.itemDetail {
  color: #919191;
  font-size: 15px;
}

.timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 107px;
  left: -45%;
  text-align: right;
  font-size: 14px;
}

.itemTitle {
  font-weight: 600;
  margin-bottom: 5px;
}

/* -- Testimonials -- */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 75px auto 85px;
}

.box {
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #111;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.box p { 
  margin-bottom: 5px; 
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.name {
  font-weight: 600;
  font-size: 17px;
}

.jobTitle {
  font-size: 16px;
  font-weight: 500;
  color: #fa0000;
}

.stars { margin-top: 7px; }

.imageWrap {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: var(--btn-bg);
  border-radius: 50%;
}

.imageWrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

@media (max-width: 1045px) {
  .box { width: calc(50% - 10px); margin: 10px 0; }
}

@media (max-width: 702px) {
  .box { width: 100%; }
}

/* -- Desktop -- */
@media screen and (min-width: 700px) {
  .historyTlContainer { width: 63%; }
  .tlItem { margin-left: 0; }
  .timestamp { left: -36%; }
}

@media screen and (min-width: 1025px) {
  .resumeContainer {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    align-items: center;
  }

  .resumeText { padding-top: 55px; }

  .resumeButton {
    text-align: left;
    margin-top: 40px;
  }

  .languageList { margin-bottom: 75px; }
}
